.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .P-sorting-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}



.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

mat-card {
  max-width: 250px;
  text-align: center;
  padding: 10px;
}

mat-card-image {
  height: 150px;
  object-fit: cover;
}


